---
layout: default
---

<article class="uk-article">
    <h1 class="uk-article-title">{{ title }}</h1>
    <p class="uk-article-meta">Published on {{ page.date | readableDate }}.</p>
    {{ content | safe }}
</article>