---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
---

{% include "partials/post-grid.njk" %}
{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}