---
layout: default
title: Search
---

<div class="uk-panel uk-panel-box uk-text-center">
    <div class="uk-margin">
        <form class="uk-search uk-search-default">
            <span uk-search-icon></span>
            <input class="uk-search-input" id="searchbox" type="search" placeholder="Search here ...">
        </form>
    </div>
    <div id="info" class="uk-panel uk-panel-box uk-text-center" uk-grid></div>
    <div id="wrapper" class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid></div>
</div>